<div class="modal" ng-ctrl="TPCtrl">
  <ion-header-bar class="bar-dark">
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content >
  <p>asdasd</p>
              <p>234</p>
              <p>$#$#$</p>
              <p>asdasd</p>
              <p>234</p>
              <p>$#$#$</p>
              <p>asdasd</p>
              <p>234</p>
              <p>$#$#$</p>
              <p>asdasd</p>
              <p>234</p>
              <p>$#$#$</p>
              <p>asdasd</p>
              <p>234</p>
              <p>$#$#$</p>
              <p>asdasd</p>
              <p>234</p>
              <p>$#$#$</p>
              <p>asdasd</p>
              <p>234</p>
              <p>$#$#$</p>
              <p>asdasd</p>
              <p>234</p>
              <p>$#$#$</p>
              <p>asdasd</p>
              <p>234</p>
              <p>$#$#$</p>
              <p>asdasd</p>
              <p>234</p>
              <p>$#$#$</p>
              <p>asdasd</p>
              <p>234</p>
              <p>$#$#$</p>
              <p>asdasd</p>
              <p>234</p>
              <p>$#$#$</p>
              

    <form>
      <div class="list">
        
        <label class="item btnLogin">
          <button class="button button-full icon-left button-balanced ion-log-in btn" ng-click="closeModal()" type="submit">close</button>
        </label>
        

      </div>
    </form>
  </ion-content>
</div>
