<ion-view view-title="Chats">
  <ion-content>

  
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="job in jobsliked" type="item-text-wrap" href="#/tab/chats/{{job.jobid}}">
        <img ng-src="{{job.job.Company.Logo}}">
        <h2>{{job.job.Title}}</h2>
        <p>{{job.job.Company.Name}} , {{job.job.Role}} , {{job.job.Location}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
